@import "tailwindcss";

@layer base {
	html {
		font-size: 62.5%;
	}
}

body {
	background: linear-gradient(90deg, #ff7171,#fff, #7888ff);

	background-size: 400% 400%;
	animation: gradientMove 7s linear infinite;
}

@keyframes gradientMove {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.shine-red {
	background: linear-gradient(
		45deg,
		#f00 0%,
		#f00 40%,
		#fff 50%,
		#f00 60%,
		#f00 100%
	);
	background-size: 300% 100%;
	animation: shine 3s infinite linear;
}

.shine-blue {
	background: linear-gradient(
		45deg,
		#00f 0%,
		#00f 40%,
		#fff 50%,
		#00f 60%,
		#00f 100%
	);
	background-size: 300% 100%;
	animation: shine 3s infinite linear;
}

@keyframes shine {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -100% 0;
	}
}

